@font-face {
  font-family: 'Nunito Black';
  src: url(~@customjs/nunito/black/nunito-Black.eot);
  src: local('Nunito Black'), local('Nunito-Black'),
    url(~@customjs/nunito/black/nunito-Black.eot?#iefix) format('embedded-opentype'),
    url(~@customjs/nunito/black/nunito-Black.woff2) format('woff2'),
    url(~@customjs/nunito/black/nunito-Black.woff) format('woff'),
    url(~@customjs/nunito/black/nunito-Black.ttf) format('truetype'),
    url(~@customjs/nunito/black/nunito-Black.svg#Black) format('svg');
}
