<h1>Custom Masks</h1>

<h2>CPF - Social Security Number</h2>

<h3>Input</h3>

<mat-form-field>
  <input
    matInput
    required
    placeholder="CPF"
    customCpfInputMask
    name="cpf"
    [(ngModel)]="cpf"
    #customCpfInputMaskControl="ngModel"
  />

  <mat-error>{{ customCpfInputMaskControl.errors | json }}</mat-error>
</mat-form-field>

<div><label>Value:</label> {{ cpf }}</div>

<h3>Mask</h3>

<div>{{ cpf | customCpfMask }}</div>

<h2>CEP - Postal Code</h2>

<h3>Input</h3>

<mat-form-field>
  <input
    matInput
    required
    placeholder="CEP"
    customCepInputMask
    name="cep"
    [(ngModel)]="cep"
    #customCepInputMaskControl="ngModel"
  />

  <mat-error>{{ customCepInputMaskControl.errors | json }}</mat-error>
</mat-form-field>

<div><label>Value:</label> {{ cep }}</div>

<h3>Mask</h3>

<div>{{ cep | customCepMask }}</div>

<h2>Typeable code</h2>

<h3>Input</h3>

<mat-form-field>
  <input
    matInput
    required
    placeholder="Typeable Code"
    customTypeableCodeInputMask
    name="typeableCode"
    [(ngModel)]="invoice"
    #customTypeableCodeInputMaskControl="ngModel"
  />

  <mat-error>{{ customTypeableCodeInputMaskControl.errors | json }}</mat-error>
</mat-form-field>

<div><label>Value:</label> {{ invoice }}</div>

<h3>Mask</h3>

<div>{{ invoice | json }}</div>
