@font-face {
  font-family: 'Nunito';
  src: url(~@customjs/nunito/regular/nunito-Regular.eot);
  src: local('Nunito Regular'), local('Nunito-Regular'),
    url(~@customjs/nunito/regular/nunito-Regular.eot?#iefix) format('embedded-opentype'),
    url(~@customjs/nunito/regular/nunito-Regular.woff2) format('woff2'),
    url(~@customjs/nunito/regular/nunito-Regular.woff) format('woff'),
    url(~@customjs/nunito/regular/nunito-Regular.ttf) format('truetype'),
    url(~@customjs/nunito/regular/nunito-Regular.svg#Regular) format('svg');
}
