@font-face {
  font-family: 'Nunito Extrabold';
  src: url(~@customjs/nunito/extra-bold/nunito-Extrabold.eot);
  src: local('Nunito Extrabold'), local('Nunito-Extrabold'),
    url(~@customjs/nunito/extra-bold/nunito-Extrabold.eot?#iefix) format('embedded-opentype'),
    url(~@customjs/nunito/extra-bold/nunito-Extrabold.woff2) format('woff2'),
    url(~@customjs/nunito/extra-bold/nunito-Extrabold.woff) format('woff'),
    url(~@customjs/nunito/extra-bold/nunito-Extrabold.ttf) format('truetype'),
    url(~@customjs/nunito/extra-bold/nunito-Extrabold.svg#Extrabold) format('svg');
}
