<h1 mat-dialog-title>{{ title }}</h1>

<mat-dialog-content>
  {{ description }}
</mat-dialog-content>

<mat-dialog-actions align="end">
  &nbsp;
  <button mat-flat-button color="accent" [mat-dialog-close]="true">
    {{ confirm || i18n.trans.services.confirm.confirm }}
  </button>
  <ng-container *ngIf="showReject || reject !== 'label.Reject'">
    &nbsp;
    <button mat-button color="warn" [mat-dialog-close]="false">
      {{ reject || i18n.trans.services.confirm.reject }}
    </button>
  </ng-container>
  <ng-container *ngIf="showCancel || cancel !== 'label.Cancel'">
    &nbsp;
    <button mat-button [mat-dialog-close]="undefined">
      {{ cancel || i18n.trans.services.confirm.cancel }}
    </button>
  </ng-container>
</mat-dialog-actions>
