@import '~@angular/material/theming';

@mixin customjs-alert-theming($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  $primary-color: mat-color($primary);
  $accent-color: mat-color($accent);
  $warn-color: mat-color($warn);

  $primary-contrast: mat-contrast($primary, default);
  $accent-contrast: mat-contrast($accent, default);
  $warn-contrast: mat-contrast($warn, default);

  .customjs-alert {
    width: 100vw;

    &.customjs-alert-primary {
      color: $primary-contrast !important;
      background: $primary-color !important;

      .mat-simple-snackbar-action {
        color: rgba($primary-contrast, 0.7) !important;
      }
    }

    &.customjs-alert-accent {
      color: $accent-contrast !important;
      background: $accent-color !important;

      .mat-simple-snackbar-action {
        color: rgba($accent-contrast, 0.7) !important;
      }
    }

    &.customjs-alert-warn {
      color: $warn-contrast !important;
      background: $warn-color !important;

      .mat-simple-snackbar-action {
        color: rgba($warn-contrast, 0.7) !important;
      }
    }
  }
}
