@import '~@angular/material/theming';

@mixin customj-note-theming($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  $primary-color: mat-color($primary);
  $accent-color: mat-color($accent);
  $warn-color: mat-color($warn);

  .custom-note {
    &.custom-note-primary {
      border-color: $primary-color !important;
    }

    &.custom-note-accent {
      border-color: $accent-color !important;
    }

    &.custom-note-warn {
      border-color: $warn-color !important;
    }
  }
}
