<h1>CustomJs</h1>

<div><small>Basic Reusable custom components to use in Angular 2+ and Js apps</small></div>

<ul>
  <li><a routerLink="/custom-list">List</a></li>
  <li><a routerLink="/custom-masks">Mask</a></li>
</ul>

<hr />

<button (click)="onAsk()">ask</button>

<button (click)="onAlert()">alert</button>

<button (click)="sendMessage()">sendMessage</button>

<div *ngIf="wsConnection.message | async as message">
  <h3>Last message</h3>
  {{ message }}
</div>

<p>
  aqui
  <custom-select
    [options]="options"
    [(ngModel)]="data"
    placeholder="teste"
    name="teste"
  ></custom-select>
</p>

<p>
  <mat-form-field>
    <input
      customMaskEmail
      #emailInput="ngModel"
      matInput
      type="email"
      placeholder="label"
      value="value"
      required="true"
      [(ngModel)]="testeEmail"
    />
    <mat-error *ngIf="!emailInput.valid">
      ERRO
    </mat-error>
  </mat-form-field>
</p>
