<h1>CustomJs</h1>

<div><small>Basic Reusable custom components to use in Angular 2+ and Js apps</small></div>

<ul>
  <li><a routerLink="/custom-address-input">Address Input</a></li>
  <li><a routerLink="/custom-alert">Alert</a></li>
  <li><a routerLink="/custom-ask">Ask</a></li>
  <li><a routerLink="/custom-breadcrumb">Breadcrumb</a></li>
  <li><a routerLink="/custom-card">Card</a></li>
  <li><a routerLink="/custom-currency-input">Currency Input</a></li>
  <li><a routerLink="/custom-file">File</a></li>
  <li><a routerLink="/custom-filter-paginate-sort">Filter Paginate Sort</a></li>
  <li><a routerLink="/custom-generic-http">Generic Http</a></li>
  <li><a routerLink="/custom-i18n">I18n</a></li>
  <li><a routerLink="/custom-list">List</a></li>
  <li><a routerLink="/custom-masks">Mask</a></li>
  <li><a routerLink="/custom-note">Note</a></li>
  <li><a routerLink="/custom-nunito">Nunito</a></li>
  <li><a routerLink="/custom-paginator">Paginator</a></li>
  <li><a routerLink="/custom-select">Select</a></li>
  <li><a routerLink="/custom-smart-layout">Smart Layout</a></li>
  <li><a routerLink="/custom-table">Table</a></li>
  <li><a routerLink="/custom-version">Version</a></li>
  <li><a routerLink="/custom-ws">Web Socket</a></li>
</ul>
