<h1>Custom Smart Layout</h1>

<h2>Actions + ng-content</h2>
<custom-actions>
  <button>ACTIONS FROM NG CONTENT</button>
</custom-actions>

<hr />
<h2>Actions + ng-template</h2>
<custom-actions>
  <ng-template><button>ACTIONS FROM NG TEMPLATE</button></ng-template>
</custom-actions>

<hr />
<h2>Actions + Options + ng-template</h2>
<custom-actions [data]="{ name: 1 }" [loading]="true" [disabled]="true">
  <custom-actions-option (optionSelected)="optionSelected($event)">
    <ng-template>OPTIONS FROM NG TEMPLATE</ng-template>
  </custom-actions-option>
</custom-actions>
