@import '~@angular/material/theming';

@mixin customjs-card-theming($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  $app-color-primary: mat-color($primary);
  $app-color-primary-contrast: mat-color($primary, default-contrast);
  $app-color-accent: mat-color($accent);
  $app-color-accent-contrast: mat-color($accent, default-contrast);
  $app-color-warn: mat-color($warn);
  $app-color-warn-contrast: mat-color($warn, default-contrast);

  .custom-card {
    border-color: $app-color-primary !important;

    &[color='primary'] {
      border-color: $app-color-primary !important;
      &.active {
        background-color: $app-color-accent;
        color: $app-color-accent-contrast;
      }

      .custom-card-badge {
        background-color: $app-color-primary;
        color: $app-color-primary-contrast;
      }
    }

    &[color='accent'] {
      border-color: $app-color-accent !important;
      &.active {
        background-color: $app-color-accent;
        color: $app-color-accent-contrast;
      }
      .custom-card-badge {
        background-color: $app-color-primary;
        color: $app-color-primary-contrast;
      }
    }

    &[color='warn'] {
      border-color: $app-color-warn !important;
      &.active {
        background-color: $app-color-accent;
        color: $app-color-accent-contrast;
      }
      .custom-card-badge {
        background-color: $app-color-warn;
        color: $app-color-warn-contrast;
      }
    }
  }
}
