@import '~@angular/material/theming';

@mixin customjs-table-theming($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  $primary-color: mat-color($primary);
  $accent-color: mat-color($accent);
  $warn-color: mat-color($warn);

  $primary-contrast: mat-contrast($primary, default);
  $accent-contrast: mat-contrast($accent, default);
  $warn-contrast: mat-contrast($warn, default);

  .custom-table {
    background-color: transparent;

    .mat-row,
    .mat-header-row {
      td,
      th {
        border-bottom-width: 2px;
      }
    }

    .mat-header-row {
      td,
      th {
        font-weight: bolder;
      }
    }

    &[color='accent'] {
      .mat-row,
      .mat-header-row {
        td,
        th {
          background-color: transparent;
          border-color: $accent-color;
        }
      }
      .mat-row {
        &:hover {
          color: $accent-contrast;
          background-color: rgba($accent-color, 0.25);
        }
      }
    }

    &[color='primary'] {
      .mat-row,
      .mat-header-row {
        td,
        th {
          background-color: transparent;
          border-color: $primary-color;
        }
      }
      .mat-row {
        &:hover {
          color: $primary-contrast;
          background-color: rgba($primary-color, 0.25);
        }
      }
    }

    &[color='warn'] {
      .mat-row,
      .mat-header-row {
        td,
        th {
          background-color: transparent;
          border-color: $warn-color;
        }
      }
      .mat-row {
        &:hover {
          color: $warn-contrast;
          background-color: rgba($warn-color, 0.25);
        }
      }
    }
  }
}
